:root {
    --first: #d591ce;
    --stripone: #76D0F5;
    --striptwo: #E0DCC2;
    --stripthree: #92B77F
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#76B877 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */




































