:root {
    --first: #ff6269;
    --stripone: #23262B;
    --striptwo: #3C425E;
    --stripthree: #2E1A47
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#76B877 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */



















































