:root {
    --first: #ff6269;
    --stripone: #8A2BE2;
    --striptwo: #FF69B4;
    --stripthree: #F0F0F0
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#76B877 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */










































