:root {
    --first: #ff6269;
    --stripone: #535862;
    --striptwo: #9AA2D2;
    --stripthree: #6A4C9D
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#76B877 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */




















































