:root {
    --first: #2995ff;
    --stripone: #5B618A;
    --striptwo: #A98475;
    --stripthree: #5240A3;
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#54ba67 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */

















