:root {
    --first: #54ba67;
    --stripone: #FFFF8F;
    --striptwo: #5D3FD3;
    --stripthree: #FFD700
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#54ba67 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */
























