:root {
    --first: #FFC0CB;
    --stripone: #F24A03;
    --striptwo: #CBC907;
    --stripthree: #A4CF42;
}




/* #fbe00a → Bright Yellow
#FE363C → Salmon Pink
#0066FF → Vivid Blue
#B366B3 → Soft Lavender
#339933 → Medium Green
#808080 → Neutral Gray

#FFC0CB → Pastel Pink */




























































































