:root {
    --first: #808080;
    --stripone: #7A00CC;
    --striptwo: #C49F5A;
    --stripthree: #284B38;
}



/* #fbe00a → Bright Yellow
#FE363C → Salmon Pink
#0066FF → Vivid Blue
#B366B3 → Soft Lavender
#339933 → Medium Green
#808080 → Neutral Gray

#FFC0CB → Pastel Pink */




























































































