:root {
    --first: #808080;
    --stripone: #A10320;
    --striptwo: #9CC429;
    --stripthree: #5798CA;
}





/* #fbe00a → Bright Yellow
#FE363C → Salmon Pink
#0066FF → Vivid Blue
#B366B3 → Soft Lavender
#339933 → Medium Green
#808080 → Neutral Gray

#FFC0CB → Pastel Pink */




























































































