:root {
    --first: #a6a6a6;
    --stripone: #8B9B6A;
    --striptwo: #98FFB9;
    --stripthree: #B8A082
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#76B877 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */
























































