:root {
    --first: #ffd1db;
    --stripone: #B44C97;
    --striptwo: #8489C9;
    --stripthree: #79B9C0
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#76B877 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */
































































